/* header{
    background: #ffffff;
    padding: 10px 16px;
    color: #000000;
}



.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
} */

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 3.5rem;


}
.navbar{
    background-color: #ffffff;
}

@media screen and (max-width: 800px) {

}


.nav-link{
    color: black;
}

.jumbotron{
    background-image:linear-gradient(rgba(1, 2, 53, 0), rgba(5, 1, 54, 0.349)), url("../img/bannerImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: rgb(255, 251, 251);
  color: #ffffff;
}

.btn-primary-outline:hover{
    color: #ffffff;
    font-weight: bold;
}

.banner-bar{
    background-color: #2D7DD2;
    color: #ffffff;
    margin-top: -32px;
    text-align: center;
    height: 100px;
}

.banner-bar-text{
    padding-top: 15px;
}

.garanty-bar{

    background-color: #2D7DD2;
    color: #ffffff;
    height: 100px;
    justify-content: center;
}

.garanty-bar-content{
    display: flex;
}
.garanty-bar img{
    margin-top: 12px;
    width: 140px;
}

.garanty-bar div{
    flex-grow: 2;
}

footer{
    background-color: black;
}
footer > div{
    display: flex;
    color: white;
    padding-top: 10px;
}

footer div > div{
    flex-grow: 1;
}