<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weeza | Seja bem-vindo!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top ">
        <div class="container">
            <img class="" src="{% static 'img/WeezaLogo3.png' %}" alt="Weeza" width="150">
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto menu">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">+244 925 381 845</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de Weeza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Trabalhe connosco</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                </ul>
                <button class="btn btn-primary book-button">
                    RESERVAR UM SERVIÇO
                </button>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="container">
            <div>
                <div>
                    <h5>Links importantes</h5>
                    <p><a href="#">Contacte-nos</a></p>
                    <p><a href="#">Sobre nós</a></p>
                    <p><a href="#">Trabalhe Connosco</a></p>
                </div>
            </div>
            <div>
                <h5>Siga-nos</h5>
                <p><a href="#">Facebook</a></p>
                <p><a href="#">Twitter</a></p>
                <p><a href="#">Instagram</a></p>
            </div>
            <div>
                <h5>Top Serviços</h5>
                <p><a href="#">Limpeza de casa</a></p>
                <p><a href="#">Canalização</a></p>
            </div>
        </div>
        <p>
            &copy; Company 2017-2018
        </p>
    </footer>
    <script src="{% static 'jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>