<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weeza | Seja bem-vindo!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top ">
        <div class="container">
            <a href="{% url 'home' %}"><img class="" src="{% static 'img/WeezaLogo3.png' %}" alt="Weeza"
                    width="150"></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto menu">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">+244 925 381 845</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de Weeza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'aderir' %}">Trabalhe
                            connosco</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                </ul>
                <button class="btn btn-primary book-button">
                    RESERVAR UM SERVIÇO
                </button>
            </div>
        </div>
    </nav>

    <main role="main">


        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h5 class="display-3 text-light">Limpeza e assistência técnica a seu conforto!</h5>
                <p class="text-light">
                    Tenha empregado de limpeza ou tecnico para a sua casa ou local de trabalho só quando mais
                    precisares!
                    Weeza dispoe-se à seu serviço com profissionais certificados dando seu melhor para que se sinta
                    feliz. </p>
                <button type="button" class="btn btn-primary-outline">Saiba mais &raquo;</button>
            </div>
        </div>

        <div class="banner-bar">
            <h2 class="banner-bar-text">Agendar tarefas de limpeza e assistência técnica nunca foi tão fácil!</h2>
            <p>Faça agora a sua reserva e nossos agentes chegarão à seu espaço no dia e na hora que escolheres</p>
        </div>

        <div class="container">
            <br>
            <h5>Confira os serviços</h5>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/limpeza-de-casa.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Limpeza de casa &raquo;</button>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/reparo_de_electronicos.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Reparo de electronicos &raquo;</button>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/canalizacao1.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Canalalização &raquo;</button>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/mecanica1.jpg' %}" alt="" width="100%" height="200">
                    <button type="button" class="btn btn-light btn-block">Mecânica &raquo;</button>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/lavagem_de_carro1.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Lavagem de Carro &raquo;</button>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/electricista1.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Electricista &raquo;</button>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/frio_e_climatizacao1.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Frio e Climatização &raquo;</button>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static 'img/serralheiro3.jpg' %}" alt="" width="100%"
                        height="200">
                    <button type="button" class="btn btn-light btn-block">Serralheiro &raquo;</button>
                </div>
            </div>
            <hr>
            <br>

        </div>
        <div class="garanty-bar">
            <div class="garanty-bar-content container">
                <img class="img-responsive" src="{% static 'img/selo-garantia.png' %}" alt="" width="250" height="200">
                <div>
                    <h3 class="garanty-bar-text">Com profissionais avaliados e treinados</h3>
                    <p>Nossos profissionais são avaliados a cada serviço para garantir que esteja satisfeito a 100%.</p>
                </div>
            </div>

        </div>
        <div class="container garanty-content">
            <p class="garanty-text"><strong>Sua satisfação é o nosso objetivo.</strong> <br>
                Nossos técnicos e agentes vão te surpreender pela rapidez e eficácia na manutenção do seu . Mas se mesmo
                assim
                não te
                satisfazerem, trabalharemos para acertar na próxima. <br><br>
                <a href="#"><strong>Saiba mais >></strong></a>
            </p>
            <img src="{% static 'img/tidy-home.jpg' %}" alt="" width="550" height="400">
        </div>
    </main>

    <footer>
        <div class="container">
            <div>
                <div>
                    <h5>Links importantes</h5>
                    <p><a href="#">Contacte-nos</a></p>
                    <p><a href="#">Sobre nós</a></p>
                    <p><a href="#">Trabalhe Connosco</a></p>
                </div>
            </div>
            <div>
                <h5>Siga-nos</h5>
                <p><a href="#">Facebook</a></p>
                <p><a href="#">Twitter</a></p>
                <p><a href="#">Instagram</a></p>
            </div>
            <div>
                <h5>Top Serviços</h5>
                <p><a href="#">Limpeza de casa</a></p>
                <p><a href="#">Canalização</a></p>
            </div>
        </div>
        <p>
            &copy; Company 2017-2018
        </p>
    </footer>
    <script src="{% static 'jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>