<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Canalização | Weeza</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top ">
        <div class="container">
            <a href="{% url 'home' %}"><img class="" src="{% static 'img/WeezaLogo3.png' %}" alt="Weeza"
                    width="150"></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto menu">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">+244 925 381 845</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Acerca de Weeza</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'aderir' %}">Trabalhe
                            connosco</a>
                    </li>

                </ul>
                <button class="btn btn-primary book-button">
                    RESERVAR UM SERVIÇO
                </button>
            </div>
        </div>
    </nav>

    <main role="main">


        <div class="jumbotron form-image-plumbing jumbotron-fluid">
            <div class="container">
                <h5 class="display-3 text-light"></h5>

            </div>


            {% block content %}
            <form form method="post" class="needs-validation container form-container" novalidate>
                {% load crispy_forms_tags %}

                {% csrf_token %}

                <!-- Address details -->
                <br>
                <h4 class="mb-3">Informação da Moradia</h4>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <!-- street -->
                        {{ form.street|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor preencha o campo com o nome de rua válida!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- It will be good to suggest the user as he tries to fill in -->
                        <!-- neighbourhood -->
                        {{ form.neighbourhood|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor preencha este campo!
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <!-- municipality -->
                        {{ form.municipality|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor selecione um município
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <!-- province -->
                        {{ form.province|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor selecione uma provincia
                        </div>
                    </div>

                </div>
                <!-- Personal details -->
                <h4 class=" mb-3">Dados Pessoais</h4>
                <hr class="mb-4">

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <!-- name -->
                        {{ form.customer_name|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor introduza um nome válido.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <!-- Phone -->
                        {{ form.phone_number|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor introduza um número válido
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <!-- Email -->
                        {{ form.email|as_crispy_field }}
                        <div class="invalid-feedback">
                            Por favor introduza um email válido
                        </div>
                    </div>
                </div>


                <div class="text-center">
                    <input class="btn btn-primary btn-lg" type="submit"></input><br><br>
                </div>
            </form>

            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <div>
                <div>
                    <h5>Links importantes</h5>
                    <p><a href="#">Contacte-nos</a></p>
                    <p><a href="#">Sobre nós</a></p>
                    <p><a href="#">Trabalhe Connosco</a></p>
                </div>
            </div>
            <div>
                <h5>Siga-nos</h5>
                <p><a href="#">Facebook</a></p>
                <p><a href="#">Twitter</a></p>
                <p><a href="#">Instagram</a></p>
            </div>
            <div>
                <h5>Top Serviços</h5>
                <p><a href="#">Limpeza de casa</a></p>
                <p><a href="#">Canalização</a></p>
            </div>
        </div>
        <p>
            &copy; Company 2017-2018
        </p>
    </footer>
    <script src="{% static 'jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>